<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Buddy Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <header class="justify-content-spacebetween">
            <h1>Hello {{this_user.first_name}}!</h1>
            <a href="/logout">Log Out</a>
            <a href="/exam/trips/new" class="btn btn-primary">Create a New Trip!</a>
        </header>
        <div class="container">
            <div class="row">
                <h5>Your Trips:</h5>
                <table>
                    <thead>
                        <th>Destination</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Plan</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {% for trip in this_user.trips_attending.all %}
                        <tr>
                            <td><a href="/exam/trips/view/{{trip.id}}">{{trip.destination}}</a></td>
                            <td>{{trip.start_date|date:"M d, Y"}}</td>
                            <td>{{trip.end_date|date:"M d, Y"}}</td>
                            <td>{{trip.plan}}</td>
                            <td>
                                {% if this_user.id == trip.creator.id%}
                                <a href="/exam/trips/delete/{{trip.id}}">Remove</a> | <a href="/exam/trips/edit/{{trip.id}}">Edit</a>
                                {% else %}
                                <a href="/exam/trips/cancel/{{trip.id}}">Cancel</a>
                                {% endif%}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <h5>Other People's Trips</h5>
                <table>
                    <thead>
                        <th>Destination</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Plan</th>
                        <th>Want to Join?</th>
                    </thead>
                    <tbody>
                        {% for trip in all_trips %}
                        {% if this_user not in trip.attendees.all %}
                        <tr>
                            <td><a href="/exam/trips/view/{{trip.id}}">{{trip.destination}}</a></td>
                            <td>{{trip.start_date|date:"M d, Y"}}</td>
                            <td>{{trip.end_date|date:"M d, Y"}}</td>
                            <td>{{trip.plan}}</td>
                            <td><a href="/exam/trips/join/{{trip.id}}">Join</a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</body>
</html>